absl-py
aiohttp
aiosignal
altair
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
astunparse==1.6.3
async-lru
async-timeout
attrs
Babel
backcall==0.2.0
beautifulsoup4
bleach
blinker
blis
Bottleneck
Brotli
build==1.2.1
cachetools
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
comm
confection
cryptography
cymem
datasets
debugpy
decorator
defusedxml
dill
docopt==0.6.2
exceptiongroup
executing
fastjsonschema
filelock
flatbuffers
frozenlist
fsspec
gast
gitdb
GitPython
gmpy2
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
huggingface_hub
idna
importlib-metadata
ipykernel
ipython==8.12.3
ipython-genutils
ipywidgets
jedi
Jinja2
json5
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras
Keras-Preprocessing
langcodes
Markdown
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mistune
mpmath
multidict
multiprocess
murmurhash
nbclient
nbconvert==7.16.4
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numexpr
numpy
oauthlib
opt-einsum
overrides
packaging
pandas
pandocfilters
parso
pickleshare==0.7.5
pillow
pip-tools==7.4.1
pipreqs==0.5.0
platformdirs
preshed
prometheus-client
prompt-toolkit
protobuf==3.20.3
psutil
pure-eval
pyarrow==11.0.0
pyasn1
pyasn1-modules==0.2.8
pycparser
pydantic
pydantic_core
pydeck
Pygments
PyJWT
PyMuPDF==1.24.9
PyMuPDFb==1.24.9
pyOpenSSL
pyproject_hooks==1.1.0
PySocks
python-dateutil
python-json-logger
pytz
pywinpty
PyYAML
pyzmq
referencing
regex
requests
requests-oauthlib
responses
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
safetensors
scipy
Send2Trash
sentencepiece
shellingham
six
smart-open
smmap
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
stack-data
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow==2.10.0
tensorflow-estimator
termcolor
terminado
thinc
tinycss2
tokenizers
toml
tomli
toolz
torch
tornado
tqdm
traitlets
transformers
typer
typing_extensions
tzdata
urllib3
wasabi
watchdog
wcwidth
weasel
webencodings==0.5.1
websocket-client
Werkzeug
widgetsnbextension
win-inet-pton
wrapt
xxhash
yarg==0.1.9
yarl
zipp